<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<letmesee xmlns="https://github.com/kurema/forkedLetMeSee/responce.0.xsd"
 xmlns:l="https://github.com/kurema/forkedLetMeSee/responce.0.xsd">
  <dictionaries>
<%
0.upto(dicts.length - 1) do |i|
%>
    <dictionary id="<%= i %>" title="<%= conv(dicts[i].title) %>" />
<%
end
%>
  </dictionaries>
  <results>
