<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<letmesee>
  <dictionaries>
<%
0.upto(dicts.length - 1) do |i|
%>
    <dictionary id="<%= i %>" title="<%= conv(dicts[i].title) %>" />
<%
end
%>
  </dictionaries>
  <results>
