<%
item = content( book )
if item then
%>
    <resultgroup dictionary="<%= conv(dicts[book].title) %>" dictionary_id="<%= conv(book.to_s) %>" >
      <result>
        <content><%= html_output(conv(item)) %></content>
      </result>
    </resultgroup>
<%
end
%>
