#
# let me see... configuration file $Revision: 1.11 $
#

# 辞書のあるディレクトリ【必須】
#   辞書データの置いてあるディレクトリを列挙してください。
#   書式: '辞書のあるディレクトリ' または
#         ['辞書のあるディレクトリ', 'Appendixのあるディレクトリ']
@dictlist = [
  '/usr/share/dict/srd-fpw',
  '/usr/share/dict/mypaedia',
  ['/usr/share/dict/genius', '/usr/share/dict/appendix/genius2-1.1']
]

# 以下の項目は全てオプションです。

# 列の数
#   辞書一覧に使用されるテーブルの列の数を指定します。
@num_columns = 3

# スペル・チェッカーのコマンド名
#   ispellのコマンド名を指定してください。
@ispell_command = 'ispell'

# スペル・チェッカーの辞書
#   ispellの辞書を列挙してください。
@ispell_dict_list = [
  'american',
  'french',
]

# 外字のサイズ
#   16/24/30/48 のいずれかを指定してください。
@fontsize = 16

# リンク画像もインライン表示するかどうか (true or false)
#   EPWING 辞書では、インライン画像とリンク画像の違いがありますが、リン
#   ク画像もブラウザ上でインライン表示させるなら true を指定してください。
@force_inline = false

# スクリプト名
#   @index に、辞書検索のスクリプトファイル名を指定できます。通常これら
#   は内部的にデフォルトの名前 (「./」)が設定されていますが、これを明示
#   することで、Apache の DirectoryIndex が指定できない環境や、フレーム
#   内に辞書を入れたい場合に利用できます。行頭の「#」を外してから値を書
#   き換えて下さい。
#@index = './'

# ヘッダ
#   ページの先頭部分に埋め込まれる文を指定します。「HEADER」に挟まれた部
#   分を書き換えて下さい。そのままの形で埋め込まれるので、HTML タグが使
#   えます。
@header = <<HEADER
<div><img src="logo.png" alt="let me see..." width="309" height="90"></div>
<div>↑これはヘッダの例です。</div>
HEADER

# フッタ
#   ヘッダ同様、ページの末尾に挿入される文字列を指定できます。「FOOTER」
#   で挟まれた部分を書き換えてください。
@footer = <<FOOTER
<div>↓これはフッタの例です。letmesee.conf で自由に設定できます。</div>
<div>あらかじめ <a href="README">README</a> には目を通すようにしてください。</div>
FOOTER

# テーマ名 (もしくは CSS の URL) の指定
#   辞書のスタイルを決めるテーマ名もしくは CSS ファイルの URL を指定しま
#   す。@theme には添付の標準スタイルシートを指定してあります。これを書
#   き換えて、好みのデザインにできます。theme ディレクトリの下には、標準
#   添付のテーマ (default) がありますので、参考にしてください。
#   もちろん、自分でスタイルシートを書いてもかまいません。その場合は
#   @themeには '' (空文字列) を指定し、@css に CSS ファイルの URL を記述
#   します。
@theme = 'default'
@css = ''

# tDiary テーマ互換モード
#   tDiary (http://www.tdiary.net/) のテーマを使うための設定です。
#   class が sanchor の span タグを使うと、テーマによっては自動的に画像
#   によるアンカーが付くようになります。
@section_anchor = '<span class="sanchor">_</span>'
