    <hr class="sep">
    <div class="day">
      <h2><span class="date">let me see... の使い方</span></h2>
      <div class="body">
	<div class="section">
	  <p>検索する辞書を選んで、上部のテキストボックスに検索したい文字列を入力してから [検索] をおしてください。</p>
	  <p>メニュー検索を行ったり著作権を表示したりする場合は、検索方法のプルダウンメニューから「メニュー」または「著作権表示」を選んで、[検索] を押してください。テキストボックスは空欄のままでかまいません。</p>
	</div>
      </div>
      <div class="referer"></div>
    </div>
